# Python sets and dictionaries

## Lists/tuples (key points of the previous lesson)

Square brackets `[ ... ]` are used to create a new list.  
Parentheses `( ... )` are used to create a new tuple.  
A list/tuple has any number of elements.  
Elements in a list/tuple may be repeated (duplicated).  
Each element has its position.  
First element is at index zero.

In [1]:
grades = [ 7, 6, 7, 8, 6, 6.5, 8 ]
print( "Elements:", grades )          # note: spaces are added
print( "Length:", len( grades ) )
print( "4th element:", grades[3] )

Elements: [7, 6, 7, 8, 6, 6.5, 8]
Length: 7
4th element: 8

Content of a list can be modified. Lists are not immutable.
Content of a tuple is fixed. Tuples are immutable.

In [2]:
toBuy = [ "yeast", "flour", "oil", "salt" ]
print( "   Start:", toBuy )
toBuy[2] = "olive oil"
print( "Modified:", toBuy )
grades.append( "sugar" )
print( "Appended:", toBuy )

   Start: ['yeast', 'flour', 'oil', 'salt']
Modified: ['yeast', 'flour', 'olive oil', 'salt']
Appended: ['yeast', 'flour', 'olive oil', 'salt']

Comprehensions provide a very compact notation to:

- Perform an operation of each element of a list/tuple.
- Use a condition to filter elements of a list/tuple.

In [3]:
digit2name = ( 'zero', 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine' )
print( "     digit2name:", digit2name )

digits = [ 5, 2, 6, 2, 0, 9, 2, 1, 9 ]                     # some random numbers
print( "         digits:", digits )

digitsNames = [ digit2name[d] for d in digits ]
print( "    digitsNames:", digitsNames )

smallDigits = [ d for d in digits if d <= 3 ]
print( "    smallDigits:", smallDigits )

digitsWithNames = [ (d, digit2name[d] ) for d in digits ]  # tuples are produced here
print( "digitsWithNames:", digitsWithNames )

     digit2name: ('zero', 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine')
         digits: [5, 2, 6, 2, 0, 9, 2, 1, 9]
    digitsNames: ['five', 'two', 'six', 'two', 'zero', 'nine', 'two', 'one', 'nine']
    smallDigits: [2, 2, 0, 2, 1]
digitsWithNames: [(5, 'five'), (2, 'two'), (6, 'six'), (2, 'two'), (0, 'zero'), (9, 'nine'), (2, 'two'), (1, 'one'), (9, 'nine')]

## Sets

`set` is a built-in data type with the following properties:
- it is a container which can keep any number (0, 1, 2, ...) of other elements
- an element is either `in` the set or `not in` the set - there is no concept of duplicated elements
- elements can be added to a `set` or removed from it 
- an element added to a set cannot ever change, therefore only elements of *immutable* types are allowed
- `frozenset` is an *immutable* variant of a set - once created it cannot be changed but therefore a `frozenset` can be used as an element of a set
- it is possible to iterate over all elements of a set, but no assumptions can be made about iteration order

### A new set

Let's consider a *tiramisu* preparation example (note two ways to create a set: `{...}` and `set(...)`):

In [4]:
# See https://www.recipesfromitaly.com/tiramisu-original-italian-recipe/
# A *set* with ingredients needed for tiramisu:
tiramisuIngredients = { "ladyfingers", "mascarpone", "eggs", "sugar", "espresso", "rum", "cocoa" }
print(tiramisuIngredients)
# An example *set* of ingredients which might be available
# (note: here first a list is created and then it is converted to a set)
inHouseIngredients = set( [ "eggs", "espresso", "cocoa", "butter", "strawberries" ] )
inHouseIngredients

{'rum', 'ladyfingers', 'sugar', 'cocoa', 'mascarpone', 'eggs', 'espresso'}

{'butter', 'cocoa', 'eggs', 'espresso', 'strawberries'}

Use `len(...)` to find the number of elements in a set:

In [5]:
len( tiramisuIngredients )

7

The type of an object can be checked (as usual) with `type(...)`:

In [6]:
type( tiramisuIngredients )

set

But note, that the *empty set* cannot be created with `{}` - it leads to an object of a different type:

In [7]:
type( {} )

dict

To create the *empty set* use `set()` with no arguments:

In [8]:
type( set() )

set

### Sets algebra

Standard algebraic operations on sets are [drawn here](set_operations.png).

For the tiramisu example, sets of potential interest can be constructed with the operators:

In [9]:
# Which ingredients are already available in house:
tiramisuIngredients & inHouseIngredients

{'cocoa', 'eggs', 'espresso'}

In [10]:
# What still needs to be bought to prepare tiramisu:
tiramisuIngredients - inHouseIngredients

{'ladyfingers', 'mascarpone', 'rum', 'sugar'}

### Sets: is element in or not?

Whether a single element is present `in` a set or not can be tested as follows:

In [11]:
"milk" in tiramisuIngredients

False

Consider also this example of using `not in` inside a comprehension iterating over a set:

In [12]:
# A True/False map whether an in-house-ingredient is not needed for tiramisu.
[(ing,ing not in tiramisuIngredients) for ing in inHouseIngredients]

[('cocoa', False),
 ('eggs', False),
 ('espresso', False),
 ('butter', True),
 ('strawberries', True)]

Note: the `set` methods `issubset(...)` and `issuperset(...)` allow to test whether all elements of one set are also present in the other set. The same functions are provided through `<=`, `=>` operators. The `==` allows to check whether two sets have identical elements.

In [13]:
tiramisuIngredients.issubset( inHouseIngredients )

False

### Sets: adding/removing elements

Let's consider a set with some available ingredients:

In [14]:
inHouseIngredients

{'butter', 'cocoa', 'eggs', 'espresso', 'strawberries'}

New elements can be added as follows:

In [15]:
# For a single element:
inHouseIngredients.add( 'bread' )

# For an iterable collection of elements (it can also be another set):
inHouseIngredients.update( [ 'salami', 'tomatoe' ] )

inHouseIngredients

{'bread',
 'butter',
 'cocoa',
 'eggs',
 'espresso',
 'salami',
 'strawberries',
 'tomatoe'}

And here are some examples how to remove elements:

In [16]:
# For an element currently in the set:
inHouseIngredients.remove( "bread" )

# Note: KeyError exception would be raised because "BREAD" is not in the set:
# inHouseIngredients.remove( "BREAD" ) 

# For a value which might be in the set (but no error when the value is not there):
inHouseIngredients.discard( "BREAD" )

### Sets: a loop over all elements

The following code allows to perform some operations (here: `print(...)`) *for each* element present in the set.  
The order in which the elements are iterated over is not defined.

In [17]:
for ing in tiramisuIngredients:
    print( "Needed for tiramisu:", ing )

Needed for tiramisu: rum
Needed for tiramisu: ladyfingers
Needed for tiramisu: sugar
Needed for tiramisu: cocoa
Needed for tiramisu: mascarpone
Needed for tiramisu: eggs
Needed for tiramisu: espresso

## Dictionaries

`dict` is a built-in data type with the following properties:
- it is a container which can keep any number (0, 1, 2, ...) of (*key*, *value*) `items`
- the primary goal: using a key it is possible to quickly `get` its corresponding value
- there are no duplicates among the `keys`; it is possible whether a key is `in` or `not in` a dict object
- the keys must be of *immutable* type
- a value corresponding to a key can be modified
- new items can be added
- existing items can be removed
- `for` loops can iterate over all items of a dictionary, or over the `keys`, or over `values`

### A new dictionary

Use the following notation to create a dictionary from element pairs (note the curly braces: `{`...`}`):

In [18]:
day2KCal = { "Mon": 2330, "Tue": 1990, "Wed": 2150 }
day2KCal

{'Mon': 2330, 'Tue': 1990, 'Wed': 2150}

The type of the created object is:

In [19]:
type( day2KCal )

dict

Note: repeating the same key (here: `Mon`) overwrites the previously associated value:

In [20]:
{  "Mon": 2330, "Tue": 1990, "Wed": 2150, "Mon": 1000 }

{'Mon': 1000, 'Tue': 1990, 'Wed': 2150}

The following code allows to build a dictionary from two iterable objects:

In [21]:
days = ( "Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun" )      # a tuple
dayKCals = [ 2330, 1990, 2150, 2290, 1920, 2370, 2050 ]         # a list
zip( days, dayKCals )           # a generator, iterable over tuples (day, dayKCal)
list( zip( days, dayKCals ) )   # a list of tuples generated by the generator

day2KCal = dict( zip( days, dayKCals ) )
day2KCal

{'Mon': 2330,
 'Tue': 1990,
 'Wed': 2150,
 'Thu': 2290,
 'Fri': 1920,
 'Sat': 2370,
 'Sun': 2050}

This is the standard way to find the number of items (here: key-value pairs) in a collection:

In [22]:
len( day2KCal )

7

Note: this is how a new empty dictionary is created:

In [23]:
{}

{}

### Dict: getting, adding or modifying elements

Let's start with a dictionary:

In [24]:
day2KCal = { "Mon": 2330, "Tue": 1990, "Wed": 2150 }
day2KCal

{'Mon': 2330, 'Tue': 1990, 'Wed': 2150}

To add a new value or change a value for a single key, use the following:

In [25]:
day2KCal[ "Thu" ] = 2290
day2KCal

{'Mon': 2330, 'Tue': 1990, 'Wed': 2150, 'Thu': 2290}

Multiple items can be added/updated by calling `update(...)` for an iterable over (key, value) items:

In [26]:
day2KCal.update( [ ( "Fri", 1920 ), ( "Sat", 2370 ) ] )
day2KCal

{'Mon': 2330, 'Tue': 1990, 'Wed': 2150, 'Thu': 2290, 'Fri': 1920, 'Sat': 2370}

The square bracket `[`...`]` operator can be used to get an element for a provided key.  
The key must be present in the dictionary or an error will be thrown:

In [27]:
# day2KCal[ "Monday" ]         # "Monday" is an invalid key and raises KeyError exception
day2KCal[ "Mon" ]              # returns the value for the key "Mon"

2330

The `get( key, defaultValue )` function may be used to avoid exceptions when the key is missing in the dictionary. Then the `defaultValue` is returned:

In [28]:
day2KCal.get( "Monday", 100 )  # does not raise any exception
                               # but it returns the second argument (here 100)

100

The following two examples show how to check whether a key is `in` or is `not in` a dictionary:

In [29]:
"Tuesday" in day2KCal

False

In [30]:
aKey = "Tuesday"
aKey not in day2KCal

True

### Dict: removing an element

A few possibilities exists to remove an element:

In [31]:
day2KCal = { "Mon": 2330, "Tue": 1990, "Wed": 2150 }
day2KCal.pop( "Tue" )           # removes Tue but returns the value which Tue had
                                # raises exception if the key is not found

day2KCal.pop( "Monday", None )  # removes only when the key is present; returns the second argument
                                # does not raise the key not found exception

Or:

In [32]:
del day2KCal[ "Mon" ]           # also removes an existing element
                                # raises exception if the key is not found

### Dict: all keys, all values or their pairs

With `values()` it is possible to iterate over all values in a dictionary:

In [33]:
day2KCal = { "Mon": 2330, "Tue": 1990, "Wed": 2150 }
day2KCal.values()                  # this is an iterable collection
                                   # it is a view: it will change if the dict changes

dict_values([2330, 1990, 2150])

An example of `values()` used in a list comprehension:

In [34]:
kJoules = [kCal * 4.184 for kCal in day2KCal.values()]
kJoules

[9748.720000000001, 8326.16, 8995.6]

`items()` provide an iterator over dictionary, generating two element tuples (key, value).  
Here, this iterator is used to create another dictionary:

In [35]:
day2KCal.items()                  # this is a generator of (day, kCal) tuples
day2KJoule = { day: kCal * 4.184 for day, kCal in day2KCal.items()}
day2KJoule

{'Mon': 9748.720000000001, 'Tue': 8326.16, 'Wed': 8995.6}

It is also possible to iterate only over `keys()`.  
The following example creates a tuple of all dictionary keys:

In [36]:
day2KCal.keys()                   # this is a generator
days = tuple( day2KCal.keys() )   # iterates over the generator and produces a tuple
days

('Mon', 'Tue', 'Wed')

### Dict: a loop over elements

`items()`, `values()`, `keys()` can also be used in loops. For example:

In [37]:
day2KCal = { "Mon": 2330, "Tue": 1990, "Wed": 2150 }
for day, kCal in day2KCal.items():
    print( "On", day, "consumed food was", kCal, "kCal or", kCal * 4.184, "kJ." )

On Mon consumed food was 2330 kCal or 9748.720000000001 kJ.
On Tue consumed food was 1990 kCal or 8326.16 kJ.
On Wed consumed food was 2150 kCal or 8995.6 kJ.

## Formatting strings

Compare the `print` command from the previous example with the print below which uses *f-strings (formatted string literals)*.

In [38]:
day2KCal = { "Mon": 2330, "Tue": 1990, "Wed": 2150 }
for day, kCal in day2KCal.items():
    print( f"On {day} consumed food was {kCal} kCal or {kCal * 4.184} kJ." )

On Mon consumed food was 2330 kCal or 9748.720000000001 kJ.
On Tue consumed food was 1990 kCal or 8326.16 kJ.
On Wed consumed food was 2150 kCal or 8995.6 kJ.

In *f-strings* `f"`...`"` variables/expressions can be put between `{`...`}` to have their values inserted into the surrounding text.

In [39]:
x = "Statistics"
y = "Data Science"
f"{x} and {y}"

'Statistics and Data Science'

In [40]:
f"{x}" " and " f'{y}'            # Note, there are several strings here
                                 # and they get concatenated

'Statistics and Data Science'

In [41]:
( f"{x}"
" and "
f"{y}" )                         # The above example in a multiline version, see (...)

'Statistics and Data Science'

The *f-strings* notation allows to specify rounding and alignment of the inserted text.  
Consider the following examples:

In [42]:
from math import pi
{ 
    "               full precision":  f"{pi}",
    "                  four digits":  f"{pi:.4f}",
    "four digits and forced + sign":  f"{pi:+.4f}",
    "                right aligned":  f"{pi:12.4f}",
    "               center aligned":  f"{pi:^12.4f}",
    "                 left aligned":  f"{pi:<12.4f}",
    "            exponent notation":  f"{pi * 1000:.4e}",
    "        with comma separators":  f"{pi * 1e6:,.2f}",     # Note: the comma here is ok
}

{'               full precision': '3.141592653589793',
 '                  four digits': '3.1416',
 'four digits and forced + sign': '+3.1416',
 '                right aligned': '      3.1416',
 '               center aligned': '   3.1416   ',
 '                 left aligned': '3.1416      ',
 '            exponent notation': '3.1416e+03',
 '        with comma separators': '3,141,592.65'}

## Self-study tasks

### Generating random integers

Use `from random import randint` to make the function `randint` available.  
Try `randint` to generate a random number in the range `[0,...,9]` (both ends inclusive).  
Write a list comprehension to generate a list with 20 random numbers in the range.  
Store the generated list in the variable `vs`.  

*Note:* The `range(...)` generator might be useful in the comprehension.

*Question:* What would be `set(vs)`?

In [43]:
# SOLUTION
from random import randint
vs = [randint(0,9) for i in range(20)]
print(vs)
print(set(vs))
# set does not have duplicate, hence will remove the duplicate

[6, 4, 4, 4, 0, 9, 7, 9, 5, 2, 8, 2, 2, 7, 5, 0, 2, 3, 4, 7]
{0, 2, 3, 4, 5, 6, 7, 8, 9}

### Counting elements

A list of many elements is provided in the variable `vs` (identical elements may occur multiple times in the list).  
(*Note:* Such a list can be the output from the previous exercise, but it can be a list of for example text strings).

Write your own element *counter* which produces a dictionary with keys being the unique elements of the `vs` list and the values representing their counts.  
Store the dictionary in `v2cnt`.

*Note:* There are many solutions. You may first build a set of unique `vs` elements. Then initialize a dictionary for these elements with `0` count values. Finally, in a `for` loop increase the counts in the dictionary.

In [44]:
# For example, for this list:
vs = [ 1, 7, 3, 1, 0, 2, 5, 7, 8, 2, 6, 2, 4, 1, 5, 5, 0, 2, 5, 4, 1, 3, 1, 8, 2, 1 ]
vsset = set(vs)

# collection counter

vs2cnt = {}
for i in vsset:
    vs2cnt[i]= 0
    for j in vs:
        if j == i:
            vs2cnt[i]+=1
vs2cnt
# The solution should be (0 is present twice, 1 is six times, 2 five times...)
# vs2cnt = {0: 2, 1: 6, 2: 5, 3: 2, 4: 2, 5: 4, 6: 1, 7: 2, 8: 2}

{0: 2, 1: 6, 2: 5, 3: 2, 4: 2, 5: 4, 6: 1, 7: 2, 8: 2}

In [45]:
# SOLUTION

### Removing from a dictionary all items of given values

Given is a dictionary `licPlate2color` with colors of cars corresponding to some license plates.  
Create a filtered dictionary `lp2c` which does not contain cars of colors listed in `toRemoveColors`.

In [46]:
licPlate2color = {
    "VA-111-V": "silver", "SB-222-W": "red", "XC-333-L": "red",
    "AB-111-E": "white", "ER-222-U": "black", "BV-333-Z": "white",
    "CC-111-J": "silver", "UI-222-R": "green", "GF-333-U": "silver",
    "WT-111-K": "white", "KJ-222-Q": "silver", "LK-333-I": "black",
}
toRemoveColors = [ "white", "silver", "black" ]

In [47]:
# SOLUTION

{key:value for (key,value) in licPlate2color.items() if value not in toRemoveColors}

{'SB-222-W': 'red', 'XC-333-L': 'red', 'UI-222-R': 'green'}

### Build a dictionary with values being lists

Some people are described at the same positions in two lists: `names` and `countries` (see below).  
Build a dictionary `country2names` with values being lists of `names` of people from a country given by the key.  
For example: `country2names["nl"]` should be a list `['Jeroen', 'Sanne']`.

*Note:* A possible solution may use `defaultdict` imported from `collections` package.

In [48]:
names =     ["Grzegorz", "Małgorzata", "Paweł", "Jeroen", "Sanne", "Ana", "Sofia", "Javier", "Sofia"]
countries = ["pl",       "pl",         "pl",    "nl",     "nl",    "es",  "es",    "es",     "es"]

In [62]:
# SOLUTION
from collections import defaultdict
country2names = defaultdict(list)
for key,value in zip(countries,names):
    country2names[key].append(value)
country2names["nl"]
print(country2names["nl"])
dict(country2names)["nl"]

['Jeroen', 'Sanne']

['Jeroen', 'Sanne']

### Reverse a list and sample elements

A volleyball team has 11 players (each of a different name). The players specialize and have their own roles.
The `player2role` dictionary provides the roles of the players.

For a volleyball set the team needs to select 6 players of the following roles:
- one `setter`,
- one `dia`,
- two `middle` attackers,
- two `outside` attackers.  
The numbers of needed players of each role is given by the `role2num` dictionary.

From the complete team choose 6 player randomly but so that there is a correct number of players with each role.  
The result should be a dictionary (keys are the roles, values are lists of chosen players).

*Hint:* `from random import sample` (search for documentation of the function `sample`)

*Hint:* Based on the previous exercise build first `role2players` dictionary (reverse `player2role`).

In [50]:
from random import sample

role2num = { "setter": 1, "dia": 1, "middle": 2, "outside": 2 }

player2role = { 
    "Chen": "setter", "Martijn": "setter",
    "Marnick": "dia", "Simon": "dia",
    "David": "middle", "Luuk": "middle",
    "Ronald": "outside", "Alex": "outside", "Kadir": "outside", "Koen": "outside"
}

In [79]:
# SOLUTION
from collections import defaultdict
role2players = defaultdict(list)
for key,value in player2role.items():
    role2players[value].append(key)
role2players

# sample(list(role2players["setter"]),2)

team = defaultdict(list)
for k,v in role2num.items():
    team[k] = sample(list(role2players[k]),v)
team

defaultdict(list,
            {'setter': ['Chen'],
             'dia': ['Simon'],
             'middle': ['Luuk', 'David'],
             'outside': ['Koen', 'Kadir']})

### NATO phonetic alphabet

When spelling a word, the following `codeWords` are used to represent letters (`a` is pronounced `alpha`, `b` is `bravo`, ...).

Build a dictionary `chr2codeWord` which will map a letter `chr` to its code word `chr2codeWord[chr]`.  
For example, `chr2codeWord['s']` should be equal to `sierra`.  
Do not type the content manually - use `split` to get a list of words from `codeWords` and then write a comprehension to build a dictionary mapping the first letter (`codeWord[0]`) to the corresponding `codeWord`.

Finally, given `word = "statistics"` write a comprehension mapping letters from `word` to a list of code words in the order how they should be spelled (`sierra`, `tango`, `alpha`, `tango`, ...).

In [52]:
codeWords = "alpha bravo charlie delta echo foxtrot golf hotel india juliet kilo lima mike november oscar papa quebec romeo sierra tango uniform victor whiskey x-ray yankee zulu"
codeWords

'alpha bravo charlie delta echo foxtrot golf hotel india juliet kilo lima mike november oscar papa quebec romeo sierra tango uniform victor whiskey x-ray yankee zulu'

In [105]:
# SOLUTION
codeWordList ={}
left = 0
for i in range(len(codeWords)):
    if codeWords[i] != " ":
        right = i
    else:
        codeWordList[codeWords[left]]=codeWords[left:right+1]
        left = i+1
codeWordList

# codeWordList ={}
# str1 = ""
# for i in codeWords:
#     if i != " ":
#         str1 += i
#     else:
#         # codeWordList.append(str1)
#         codeWordList[str1[0]]=str1
#         str1 = ""
# codeWordList
        

# codeWords.split()
# chr2codeWord = {}
# for i in codeWords.split():
#     chr2codeWord[i[0]]=i
# chr2codeWord    

# word = "statistics"
# [chr2codeWord[i] for i in word]

{'a': 'alpha',
 'b': 'bravo',
 'c': 'charlie',
 'd': 'delta',
 'e': 'echo',
 'f': 'foxtrot',
 'g': 'golf',
 'h': 'hotel',
 'i': 'india',
 'j': 'juliet',
 'k': 'kilo',
 'l': 'lima',
 'm': 'mike',
 'n': 'november',
 'o': 'oscar',
 'p': 'papa',
 'q': 'quebec',
 'r': 'romeo',
 's': 'sierra',
 't': 'tango',
 'u': 'uniform',
 'v': 'victor',
 'w': 'whiskey',
 'x': 'x-ray',
 'y': 'yankee'}

Understand the Open-Meteo web page:  
https://open-meteo.com/en/docs#latitude=52.16&longitude=4.49&hourly=temperature_2m.  

On that page you may generate a URL link providing access to weather predictions, for example for temperature in Leiden:  
https://api.open-meteo.com/v1/forecast?latitude=52.16&longitude=4.49&hourly=temperature_2m

The data is provided in the [JSON](https://en.wikipedia.org/wiki/JSON) format which can be easily read in Python using the `json` and `urllib.request` libraries.

Use the following code to get the `data`. Find out how to extract the list with temperatures and the list with corresponding time point texts. Finally, build a dictionary object `time2temp` mapping the time point text to the temperature.

### Read weather data

In [86]:
import urllib.request, json 
url = "https://api.open-meteo.com/v1/forecast?latitude=52.16&longitude=4.49&hourly=temperature_2m"
data = json.load( urllib.request.urlopen(url) )
print(data)          # use this to print the nested list with data
# type(data)

{'latitude': 52.16, 'longitude': 4.4999995, 'generationtime_ms': 0.04303455352783203, 'utc_offset_seconds': 0, 'timezone': 'GMT', 'timezone_abbreviation': 'GMT', 'elevation': 7.0, 'hourly_units': {'time': 'iso8601', 'temperature_2m': '°C'}, 'hourly': {'time': ['2024-02-13T00:00', '2024-02-13T01:00', '2024-02-13T02:00', '2024-02-13T03:00', '2024-02-13T04:00', '2024-02-13T05:00', '2024-02-13T06:00', '2024-02-13T07:00', '2024-02-13T08:00', '2024-02-13T09:00', '2024-02-13T10:00', '2024-02-13T11:00', '2024-02-13T12:00', '2024-02-13T13:00', '2024-02-13T14:00', '2024-02-13T15:00', '2024-02-13T16:00', '2024-02-13T17:00', '2024-02-13T18:00', '2024-02-13T19:00', '2024-02-13T20:00', '2024-02-13T21:00', '2024-02-13T22:00', '2024-02-13T23:00', '2024-02-14T00:00', '2024-02-14T01:00', '2024-02-14T02:00', '2024-02-14T03:00', '2024-02-14T04:00', '2024-02-14T05:00', '2024-02-14T06:00', '2024-02-14T07:00', '2024-02-14T08:00', '2024-02-14T09:00', '2024-02-14T10:00', '2024-02-14T11:00', '2024-02-14T12:00', '2024-02-14T13:00', '2024-02-14T14:00', '2024-02-14T15:00', '2024-02-14T16:00', '2024-02-14T17:00', '2024-02-14T18:00', '2024-02-14T19:00', '2024-02-14T20:00', '2024-02-14T21:00', '2024-02-14T22:00', '2024-02-14T23:00', '2024-02-15T00:00', '2024-02-15T01:00', '2024-02-15T02:00', '2024-02-15T03:00', '2024-02-15T04:00', '2024-02-15T05:00', '2024-02-15T06:00', '2024-02-15T07:00', '2024-02-15T08:00', '2024-02-15T09:00', '2024-02-15T10:00', '2024-02-15T11:00', '2024-02-15T12:00', '2024-02-15T13:00', '2024-02-15T14:00', '2024-02-15T15:00', '2024-02-15T16:00', '2024-02-15T17:00', '2024-02-15T18:00', '2024-02-15T19:00', '2024-02-15T20:00', '2024-02-15T21:00', '2024-02-15T22:00', '2024-02-15T23:00', '2024-02-16T00:00', '2024-02-16T01:00', '2024-02-16T02:00', '2024-02-16T03:00', '2024-02-16T04:00', '2024-02-16T05:00', '2024-02-16T06:00', '2024-02-16T07:00', '2024-02-16T08:00', '2024-02-16T09:00', '2024-02-16T10:00', '2024-02-16T11:00', '2024-02-16T12:00', '2024-02-16T13:00', '2024-02-16T14:00', '2024-02-16T15:00', '2024-02-16T16:00', '2024-02-16T17:00', '2024-02-16T18:00', '2024-02-16T19:00', '2024-02-16T20:00', '2024-02-16T21:00', '2024-02-16T22:00', '2024-02-16T23:00', '2024-02-17T00:00', '2024-02-17T01:00', '2024-02-17T02:00', '2024-02-17T03:00', '2024-02-17T04:00', '2024-02-17T05:00', '2024-02-17T06:00', '2024-02-17T07:00', '2024-02-17T08:00', '2024-02-17T09:00', '2024-02-17T10:00', '2024-02-17T11:00', '2024-02-17T12:00', '2024-02-17T13:00', '2024-02-17T14:00', '2024-02-17T15:00', '2024-02-17T16:00', '2024-02-17T17:00', '2024-02-17T18:00', '2024-02-17T19:00', '2024-02-17T20:00', '2024-02-17T21:00', '2024-02-17T22:00', '2024-02-17T23:00', '2024-02-18T00:00', '2024-02-18T01:00', '2024-02-18T02:00', '2024-02-18T03:00', '2024-02-18T04:00', '2024-02-18T05:00', '2024-02-18T06:00', '2024-02-18T07:00', '2024-02-18T08:00', '2024-02-18T09:00', '2024-02-18T10:00', '2024-02-18T11:00', '2024-02-18T12:00', '2024-02-18T13:00', '2024-02-18T14:00', '2024-02-18T15:00', '2024-02-18T16:00', '2024-02-18T17:00', '2024-02-18T18:00', '2024-02-18T19:00', '2024-02-18T20:00', '2024-02-18T21:00', '2024-02-18T22:00', '2024-02-18T23:00', '2024-02-19T00:00', '2024-02-19T01:00', '2024-02-19T02:00', '2024-02-19T03:00', '2024-02-19T04:00', '2024-02-19T05:00', '2024-02-19T06:00', '2024-02-19T07:00', '2024-02-19T08:00', '2024-02-19T09:00', '2024-02-19T10:00', '2024-02-19T11:00', '2024-02-19T12:00', '2024-02-19T13:00', '2024-02-19T14:00', '2024-02-19T15:00', '2024-02-19T16:00', '2024-02-19T17:00', '2024-02-19T18:00', '2024-02-19T19:00', '2024-02-19T20:00', '2024-02-19T21:00', '2024-02-19T22:00', '2024-02-19T23:00'], 'temperature_2m': [4.4, 4.3, 4.5, 4.5, 4.5, 4.4, 4.5, 4.1, 4.0, 5.5, 6.7, 7.9, 9.0, 8.9, 8.8, 8.7, 7.9, 7.4, 6.8, 7.0, 7.5, 7.7, 7.9, 8.1, 8.3, 8.6, 8.8, 9.1, 9.4, 9.8, 10.1, 10.0, 10.4, 10.6, 10.8, 11.2, 11.0, 11.0, 10.9, 10.6, 10.5, 10.6, 10.7, 11.0, 11.0, 10.6, 10.4, 10.5, 10.7, 10.6, 10.7, 10.8, 10.9, 11.1, 11.2, 11.3, 11.3, 11.6, 12.1, 12.9, 13.8, 14.6, 14.8, 15.0, 14.6, 13.9, 13.7, 13.4, 13.0, 12.9, 12.5, 12.0, 11.7, 11.5, 11.2, 11.2, 11.2, 11.2, 10.7, 10.3, 9.8, 9.8, 10.6, 10.6, 10.7, 10.7, 10.7, 10.5, 10.2, 9.7, 9.4, 9.2, 9.1, 9.0, 8.9, 8.8, 8.6, 8.5, 8.4, 8.3, 8.0, 7.8, 7.7, 7.8, 8.1, 8.6, 9.3, 10.2, 10.9, 11.3, 11.5, 11.6, 11.3, 10.8, 10.5, 10.5, 10.6, 10.7, 10.8, 10.8, 10.8, 10.7, 10.6, 10.5, 10.3, 10.1, 9.9, 10.5, 10.4, 10.4, 10.5, 10.6, 10.7, 10.6, 10.3, 10.0, 9.5, 9.0, 8.4, 7.8, 7.3, 6.9, 6.5, 6.3, 6.1, 6.1, 6.0, 6.0, 5.7, 5.3, 5.3, 5.6, 6.2, 7.0, 8.2, 9.7, 10.6, 10.9, 10.7, 10.1, 8.9, 7.3, 6.1, 5.8, 5.8, 6.0, 6.2, 6.6]}}

In [90]:
# SOLUTION
data["hourly"]["time"][0]
data["hourly"]["temperature_2m"][0]

time2temp = {}
for k,v in zip(data["hourly"]["time"],data["hourly"]["temperature_2m"]):
    time2temp[k]=v
time2temp

{'2024-02-13T00:00': 4.4,
 '2024-02-13T01:00': 4.3,
 '2024-02-13T02:00': 4.5,
 '2024-02-13T03:00': 4.5,
 '2024-02-13T04:00': 4.5,
 '2024-02-13T05:00': 4.4,
 '2024-02-13T06:00': 4.5,
 '2024-02-13T07:00': 4.1,
 '2024-02-13T08:00': 4.0,
 '2024-02-13T09:00': 5.5,
 '2024-02-13T10:00': 6.7,
 '2024-02-13T11:00': 7.9,
 '2024-02-13T12:00': 9.0,
 '2024-02-13T13:00': 8.9,
 '2024-02-13T14:00': 8.8,
 '2024-02-13T15:00': 8.7,
 '2024-02-13T16:00': 7.9,
 '2024-02-13T17:00': 7.4,
 '2024-02-13T18:00': 6.8,
 '2024-02-13T19:00': 7.0,
 '2024-02-13T20:00': 7.5,
 '2024-02-13T21:00': 7.7,
 '2024-02-13T22:00': 7.9,
 '2024-02-13T23:00': 8.1,
 '2024-02-14T00:00': 8.3,
 '2024-02-14T01:00': 8.6,
 '2024-02-14T02:00': 8.8,
 '2024-02-14T03:00': 9.1,
 '2024-02-14T04:00': 9.4,
 '2024-02-14T05:00': 9.8,
 '2024-02-14T06:00': 10.1,
 '2024-02-14T07:00': 10.0,
 '2024-02-14T08:00': 10.4,
 '2024-02-14T09:00': 10.6,
 '2024-02-14T10:00': 10.8,
 '2024-02-14T11:00': 11.2,
 '2024-02-14T12:00': 11.0,
 '2024-02-14T13:00': 11.0,
 '2024-02-14T14:00': 10.9,
 '2024-02-14T15:00': 10.6,
 '2024-02-14T16:00': 10.5,
 '2024-02-14T17:00': 10.6,
 '2024-02-14T18:00': 10.7,
 '2024-02-14T19:00': 11.0,
 '2024-02-14T20:00': 11.0,
 '2024-02-14T21:00': 10.6,
 '2024-02-14T22:00': 10.4,
 '2024-02-14T23:00': 10.5,
 '2024-02-15T00:00': 10.7,
 '2024-02-15T01:00': 10.6,
 '2024-02-15T02:00': 10.7,
 '2024-02-15T03:00': 10.8,
 '2024-02-15T04:00': 10.9,
 '2024-02-15T05:00': 11.1,
 '2024-02-15T06:00': 11.2,
 '2024-02-15T07:00': 11.3,
 '2024-02-15T08:00': 11.3,
 '2024-02-15T09:00': 11.6,
 '2024-02-15T10:00': 12.1,
 '2024-02-15T11:00': 12.9,
 '2024-02-15T12:00': 13.8,
 '2024-02-15T13:00': 14.6,
 '2024-02-15T14:00': 14.8,
 '2024-02-15T15:00': 15.0,
 '2024-02-15T16:00': 14.6,
 '2024-02-15T17:00': 13.9,
 '2024-02-15T18:00': 13.7,
 '2024-02-15T19:00': 13.4,
 '2024-02-15T20:00': 13.0,
 '2024-02-15T21:00': 12.9,
 '2024-02-15T22:00': 12.5,
 '2024-02-15T23:00': 12.0,
 '2024-02-16T00:00': 11.7,
 '2024-02-16T01:00': 11.5,
 '2024-02-16T02:00': 11.2,
 '2024-02-16T03:00': 11.2,
 '2024-02-16T04:00': 11.2,
 '2024-02-16T05:00': 11.2,
 '2024-02-16T06:00': 10.7,
 '2024-02-16T07:00': 10.3,
 '2024-02-16T08:00': 9.8,
 '2024-02-16T09:00': 9.8,
 '2024-02-16T10:00': 10.6,
 '2024-02-16T11:00': 10.6,
 '2024-02-16T12:00': 10.7,
 '2024-02-16T13:00': 10.7,
 '2024-02-16T14:00': 10.7,
 '2024-02-16T15:00': 10.5,
 '2024-02-16T16:00': 10.2,
 '2024-02-16T17:00': 9.7,
 '2024-02-16T18:00': 9.4,
 '2024-02-16T19:00': 9.2,
 '2024-02-16T20:00': 9.1,
 '2024-02-16T21:00': 9.0,
 '2024-02-16T22:00': 8.9,
 '2024-02-16T23:00': 8.8,
 '2024-02-17T00:00': 8.6,
 '2024-02-17T01:00': 8.5,
 '2024-02-17T02:00': 8.4,
 '2024-02-17T03:00': 8.3,
 '2024-02-17T04:00': 8.0,
 '2024-02-17T05:00': 7.8,
 '2024-02-17T06:00': 7.7,
 '2024-02-17T07:00': 7.8,
 '2024-02-17T08:00': 8.1,
 '2024-02-17T09:00': 8.6,
 '2024-02-17T10:00': 9.3,
 '2024-02-17T11:00': 10.2,
 '2024-02-17T12:00': 10.9,
 '2024-02-17T13:00': 11.3,
 '2024-02-17T14:00': 11.5,
 '2024-02-17T15:00': 11.6,
 '2024-02-17T16:00': 11.3,
 '2024-02-17T17:00': 10.8,
 '2024-02-17T18:00': 10.5,
 '2024-02-17T19:00': 10.5,
 '2024-02-17T20:00': 10.6,
 '2024-02-17T21:00': 10.7,
 '2024-02-17T22:00': 10.8,
 '2024-02-17T23:00': 10.8,
 '2024-02-18T00:00': 10.8,
 '2024-02-18T01:00': 10.7,
 '2024-02-18T02:00': 10.6,
 '2024-02-18T03:00': 10.5,
 '2024-02-18T04:00': 10.3,
 '2024-02-18T05:00': 10.1,
 '2024-02-18T06:00': 9.9,
 '2024-02-18T07:00': 10.5,
 '2024-02-18T08:00': 10.4,
 '2024-02-18T09:00': 10.4,
 '2024-02-18T10:00': 10.5,
 '2024-02-18T11:00': 10.6,
 '2024-02-18T12:00': 10.7,
 '2024-02-18T13:00': 10.6,
 '2024-02-18T14:00': 10.3,
 '2024-02-18T15:00': 10.0,
 '2024-02-18T16:00': 9.5,
 '2024-02-18T17:00': 9.0,
 '2024-02-18T18:00': 8.4,
 '2024-02-18T19:00': 7.8,
 '2024-02-18T20:00': 7.3,
 '2024-02-18T21:00': 6.9,
 '2024-02-18T22:00': 6.5,
 '2024-02-18T23:00': 6.3,
 '2024-02-19T00:00': 6.1,
 '2024-02-19T01:00': 6.1,
 '2024-02-19T02:00': 6.0,
 '2024-02-19T03:00': 6.0,
 '2024-02-19T04:00': 5.7,
 '2024-02-19T05:00': 5.3,
 '2024-02-19T06:00': 5.3,
 '2024-02-19T07:00': 5.6,
 '2024-02-19T08:00': 6.2,
 '2024-02-19T09:00': 7.0,
 '2024-02-19T10:00': 8.2,
 '2024-02-19T11:00': 9.7,
 '2024-02-19T12:00': 10.6,
 '2024-02-19T13:00': 10.9,
 '2024-02-19T14:00': 10.7,
 '2024-02-19T15:00': 10.1,
 '2024-02-19T16:00': 8.9,
 '2024-02-19T17:00': 7.3,
 '2024-02-19T18:00': 6.1,
 '2024-02-19T19:00': 5.8,
 '2024-02-19T20:00': 5.8,
 '2024-02-19T21:00': 6.0,
 '2024-02-19T22:00': 6.2,
 '2024-02-19T23:00': 6.6}