# Python introduction

This is a limited introduction of primary types and operators.

## Integer numbers

Here are some examples of integer numbers `0`, `1`, `-1`.
Another example:

In [ ]:
-37

For easier reading the underscore symbol `_` may be used:

In [ ]:
37_000_037

Integer numbers can be very large, they are not limited to a few bytes only and they are kept without any rounding:

In [ ]:
123_456_789_012_345_678_901_234_567_890

The function `type(...)` allows checking types of objects.
For an integer number it returns:

In [ ]:
type( -37 )

In [ ]:
type( 123_456_789_012_345_678_901_234_567_890 )

## Real numbers

Once a dot `.` appears in a number it is no longer interpreted as an integer but rather as a real number:
- The dot separates the whole from the fractional part of a number.
- Note the `.` printed in the output.
- The comma symbol `,` cannot be used to separate the whole from the fractional part.

In [ ]:
-37.

In [ ]:
3.141592 # an approximation of pi
         # whatever is after # it is treated as a comment

Real numbers are kept up to a certain precision:
- Study the output below (compare to the integer above).
- What is the interpretation of `e+29`?
- Note, the underscore can be also used in real numbers.

In [ ]:
123_456_789_012_345_678_901_234_567_890.

Real numbers have the following type:

In [ ]:
type( -37. )

In [ ]:
type( -0.1e-3 ) # what is this number?

## Arithmetics and simple calculations

Addition, subtraction, multiplication are natural. `(` and `)` are used to enforce the order of calculation.

In [ ]:
3*2+1

In [ ]:
3*(2+1)

`/` denotes division in real domain and may lead to a noninteger result:

In [ ]:
10/7

This is the floor division `//` operator. It divides the first argument by the second and rounds the result down to the nearest whole number.

In [ ]:
13//5 # try also -13//5

And this is the `modulo` operator. It returns the rest from the floor division.

In [ ]:
13%5

Finally, `**` is the power operator:

In [ ]:
2**5 # the fifth power of 2

## Texts (strings)

Texts which fit in one line are writen between single `'`...`'` or double quotes `"`...`"`. The same symbol must be used at the beginning and at the end of the text.

In [ ]:
"Statistics and Data Science"

In [ ]:
'Statistics and Data Science'

Multi-line texts are written between matching triple single `'''`...`'''` or double `"""`...`"""` quotes:

In [ ]:
"""Statistics
and
Data
Science"""

Note special characters in the above output: `\n` denotes a new line. You may also use `\"` or `\'` to put these quotes into the text. Or `\\` to put a single backslash.

The type of a text is:

In [ ]:
type( "Data Science" )

The `+` operator can be used to concatenate (merge) texts:

In [ ]:
"Statistics" + " " + 'and' + ' ' + "Data Science"

And the `*` operator can be used to concatenate a text given number of times:

In [ ]:
"Data!" * 3

## Variables, assignment

A value is **assigned** to a variable with the assignment operator `=`:

In [ ]:
grpName = "Statistics and Data Science"

Use the `print(...)` function to show the value of the variable.

In [ ]:
print( grpName )

When used inside a Python interpreter, it is enough to type the variable name to print the value:

In [ ]:
grpName

Variable names are build of small/capital letters, digits and `_` character. A digit cannot start a name. The names are case sensitive (`xvar`, `xVar`, `XVar` and `XVAR` will be four different variables).

It is possible to perform multiple assignments in one statement:

In [ ]:
x, y, z = 1, "b", 3*7

In [ ]:
x

In [ ]:
y

In [ ]:
z

Note, that this notation can be used to swap two variables:

In [ ]:
x, y = y, x

In [ ]:
x

In [ ]:
y

Here is an example of add-and-assign operator `+=` which can be used to add the right side value to an already existing value of the left side variable:

In [ ]:
v = 7

In [ ]:
v

In [ ]:
v += 3                # Equivalent to: v = v + 3

In [ ]:
v

There are more similar operators, e.g. `-=`, `*=`, `/=`.

The `type(...)` function may be used to find the type of the value stored in a variable:

In [ ]:
type(z)

## Boolean values, logical and comparison operators

There are two logical constants `True` and `False`:

In [ ]:
True

The type of a logical value is:

In [ ]:
type( False )

Logical values are returned by comparison operators. For example:

In [ ]:
x = 8               # Assign value 8 to variable x

In [ ]:
x == 8              # Is x equal to 8?

In [ ]:
x != 8              # Is x not equal to 8?

In [ ]:
x < 8               # Is x smaller than 8?

In [ ]:
x <= 8              # Is x smaller or equal to 8?

More complex logical conditions can be built with logical operators:

In [ ]:
x > 7 and x <= 9    # Are both sides True?

In [ ]:
x <= 7 or x > 9     # Is any side True?

In [ ]:
not ( x == 8 )      # The opposite