# Downloading the example database and connecting to it

## Packages needed for this project

In [ ]:
import urllib.request    # needed for download of the example database
import shutil            # needed for unzipping of the example database

import sqlalchemy as sa
import pandas as pd      # for better table visualisation


### Note on package problems

Currently there exists an incompatibility between:
- the latest version (>=2.0) of `sqlalchemy` package,
- the package `ipython-sql` which provides the `%sql` magic keyword used in the examples below.  

This incompatibility causes the `%sql` magic command to fail.  
A current workaround (which probably will not be necessary in the future) is to install the `jupysql` package (which also downgrades `sqlalchemy` to an older version (1.x.y)).

If you encounter problems with `%sql` try the following (and remember to restart your python kernel):

```python
!pip install jupysql
```

This is how you can check the versions of your packages:

In [ ]:
pd.__version__ # Not guaranteed to be fully portable, but works for now.

In [ ]:
sa.__version__ # Not guaranteed to be fully portable, but works for now.

## Downloading of the example database

The SQLite tutorial example database is provided as a `zip` archive in `chinook.zip` file. Download it from the [SQLite tutorial web site](https://www.sqlitetutorial.net/sqlite-sample-database/) (for example using the following Python command):

In [ ]:
#urllib.request.urlretrieve("https://www.sqlitetutorial.net/wp-content/uploads/2018/03/chinook.zip", "chinook.zip")

*Checkpoint:* The current directory should contain now `chinook.zip` file. Next, unpack the `zip` archive (for example using Python the following Python command):

In [ ]:
shutil.unpack_archive("chinook.zip")

*Checkpoint:* The current directory should contain now `chinook.db` file. This is the example database in SQLite format.

## Connect to the database and execute an SQL query

The following text:

```sql
SELECT * FROM albums LIMIT 5
```

is one of the simplest possible queries in SQL. It requests to provide all (`*`) columns and `5` rows from the database table `albums`. 

In a Python notebook there are several ways to connect to a database and execute the query. These methods differ in type of the object used to return the query result. Study the following examples.

### Using SQLAlchemy engine object

Open the connection to the SQLite database in the `chinook.db` file by creating the database `engine` object as follows:

In [ ]:
engine = sa.create_engine("sqlite:///chinook.db")

Using the following code you may send an SQL query `sql` to the database through the `engine`.  
In the `arr` variable you will get the resulting table provided as a list of tuples.

In [ ]:
sql = sa.text("SELECT * FROM albums LIMIT 5")
with engine.connect() as conn:
    arr = conn.execute(sql).fetchall()
arr

In [ ]:
sql = sa.text("SELECT * FROM albums LIMIT 5")
df = pd.read_sql(sql, con=engine)
df

### Using Python magic connector

When the Python script works with a single database only and extra Python language extensions are allowed the following notation might be used. The following code creates the database engine connector object in a hidden variable and allows for the magic `%sql` to be used in the code chunks.

In [ ]:
%load_ext sql
%sql sqlite:///chinook.db

Using the magic sql connector this is a short way to execute a directly typed single line SQL query and print the result:

In [ ]:
%sql SELECT * FROM albums LIMIT 5

The following code may be used to convert the result to Panda's `DataFrame`:

In [ ]:
res = %sql SELECT * FROM albums LIMIT 5
df = res.DataFrame()
df

To print results of longer SQL commands which do not fit in a single line use double-percent notation `%%sql` as below:

In [ ]:
%%sql
SELECT trackid, composer, unitprice FROM tracks LIMIT 5