# SQL grouping and summarizing data (exercises)

## Preparation

For this section you need `chinook.db` database file and working `%sql` magic.  
If you don't have it, please go back to the [previous section](connect_to_database.ipynb) and follow the instructions.  
The following code should not produce any errors:

In [1]:
%load_ext sql
%sql sqlite:///chinook.db

Connecting to 'sqlite:///chinook.db'

## Exercise: summaries per group

Using SQL only create a table containing summary info of the `tracks` table grouped by albums (so, by the `AlbumId` column).  
In the result table report columns:
- `AlbumId`
- `TracksNum`: the total count of tracks in the album
- `TotalPrice`: sum of all track `UnitPrice`s
- `MeanTrackSec`: based on `Milliseconds`, the average time duration of tracks expressed in seconds

Order the final table with decreasing `TotalPrice`. Show first 10 rows.    
Additionally, you may `ROUND` the prices to two positions and times to full seconds.

In [3]:
%sql SELECT * FROM tracks

Running query in 'sqlite:///chinook.db'

+---------+-----------------------------------------+---------+-------------+---------+------------------------------------------------------------------------+--------------+----------+-----------+
| TrackId |                   Name                  | AlbumId | MediaTypeId | GenreId |                                Composer                                | Milliseconds |  Bytes   | UnitPrice |
+---------+-----------------------------------------+---------+-------------+---------+------------------------------------------------------------------------+--------------+----------+-----------+
|    1    | For Those About To Rock (We Salute You) |    1    |      1      |    1    |               Angus Young, Malcolm Young, Brian Johnson                |    343719    | 11170334 |    0.99   |
|    2    |            Balls to the Wall            |    2    |      2      |    1    |                                  None                                  |    342562    | 5510424  |    0.99   |
|    3    |             Fast As a Shark             |    3    |      2      |    1    |          F. Baltes, S. Kaufman, U. Dirkscneider & W. Hoffman           |    230619    | 3990994  |    0.99   |
|    4    |            Restless and Wild            |    3    |      2      |    1    | F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. Dirkscneider & W. Hoffman |    252051    | 4331779  |    0.99   |
|    5    |           Princess of the Dawn          |    3    |      2      |    1    |                       Deaffy & R.A. Smith-Diesel                       |    375418    | 6290521  |    0.99   |
|    6    |          Put The Finger On You          |    1    |      1      |    1    |               Angus Young, Malcolm Young, Brian Johnson                |    205662    | 6713451  |    0.99   |
|    7    |             Let's Get It Up             |    1    |      1      |    1    |               Angus Young, Malcolm Young, Brian Johnson                |    233926    | 7636561  |    0.99   |
|    8    |             Inject The Venom            |    1    |      1      |    1    |               Angus Young, Malcolm Young, Brian Johnson                |    210834    | 6852860  |    0.99   |
|    9    |                Snowballed               |    1    |      1      |    1    |               Angus Young, Malcolm Young, Brian Johnson                |    203102    | 6599424  |    0.99   |
|    10   |                Evil Walks               |    1    |      1      |    1    |               Angus Young, Malcolm Young, Brian Johnson                |    263497    | 8611245  |    0.99   |
+---------+-----------------------------------------+---------+-------------+---------+------------------------------------------------------------------------+--------------+----------+-----------+
Truncated to displaylimit of 10.

In [2]:
%%sql
SELECT AlbumId,COUNT(*),SUM(UnitPrice),AVG()
  FROM tracks 
  GROUP BY AlbumId
  LIMIT 5

Running query in 'sqlite:///chinook.db'

+---------+-----------------------------------------+---------+-------------+---------+-----------------------------------------------------+--------------+----------+-----------+
| TrackId |                   Name                  | AlbumId | MediaTypeId | GenreId |                       Composer                      | Milliseconds |  Bytes   | UnitPrice |
+---------+-----------------------------------------+---------+-------------+---------+-----------------------------------------------------+--------------+----------+-----------+
|    1    | For Those About To Rock (We Salute You) |    1    |      1      |    1    |      Angus Young, Malcolm Young, Brian Johnson      |    343719    | 11170334 |    0.99   |
|    2    |            Balls to the Wall            |    2    |      2      |    1    |                         None                        |    342562    | 5510424  |    0.99   |
|    3    |             Fast As a Shark             |    3    |      2      |    1    | F. Baltes, S. Kaufman, U. Dirkscneider & W. Hoffman |    230619    | 3990994  |    0.99   |
|    15   |                 Go Down                 |    4    |      1      |    1    |                        AC/DC                        |    331180    | 10847611 |    0.99   |
|    23   |              Walk On Water              |    5    |      1      |    1    |   Steven Tyler, Joe Perry, Jack Blades, Tommy Shaw  |    295680    | 9719579  |    0.99   |
+---------+-----------------------------------------+---------+-------------+---------+-----------------------------------------------------+--------------+----------+-----------+

## Exercise: summaries per group (with pandas)

Use another strategy to generate the table from the previous exercise.  
Use SQL only to get the complete `tracks` table into a Pandas `DataFrame`.  
Then, perform the same calculations using Pandas `groupby` and `agg` commands.  

Now, imagine that the database is very large and remote, located on multiple servers somewhere in the world:
- What data are transmitted over the database connection in both exercises?
- Where are the calculations performed in both exercises?
- Which approach would scale better?

## Exercise: filtering based on summary result

Find `AlbumId`s that have the number of tracks between 18 and 20. Show 5 rows.

## Exercise: concatenating texts in a group

Based on `tracks` grouped by `AlbumId`, create a table with two columns:
- `AlbumId`
- `Tracks`: a semicolon-separated concatenated track names of the album

Show some 5 rows.