# pandas

[pandas](https://pandas.pydata.org/) is an open source library for tabular heterogeneous data manipulation. The core structures are `Series` and `DataFrame` which can be seen as a collection of Series.  In addition `pandas` provides the necessary means for data cleaning and preparation. `pandas` uses NumPy array structure  as an extension type with methods for conversion in both directions.

&#9888; A major difference between numpy arrays and `pandas` Series and DataFrame is in the way that <tt>pandas</tt> indices are used. In NumPy the index is implicitly assigned $0..(n-1)$ whereas `pandas` Series and DataFrame have similar behaviour but in addition allow labels as indices. In addition the indices are preserved after applying operations.

Many parallels can be drawn between <tt>pandas</tt> and `tidyverse` R package. In terms of data structure, Series and DataFrame can be viewed as vectors and data.frame/tibble respectively. Furthermore, in terms of functionality most data manipulation operations available in tidyverse have a counterparts in <tt>pandas</tt>.

In [2]:
# convention
import pandas as pd
import numpy as np
#
from numpy.random import default_rng
rng = default_rng()

## Series

`Series` is a sequence of values, possibly of heterogeneous types. You can create Series with the <tt>pd.Series</tt> function.

**Synopsis: &nbsp; &nbsp;**<tt>Series(data=None, index=None, dtype=None, name=None, copy=False)</tt>
 - data: array, iterable, dict, scalar
 - index: 1-dimensional array, otherwise $0..(n-1)$
 - dtype: [data types](https://pandas.pydata.org/docs/user_guide/basics.html#basics-dtypes), otherwise inferred
 - name: optional
 - copy: default False, data is not copied but is a reference

In [4]:
s = pd.Series([3,5,7])
s = pd.Series({'a':3, 'b':5, 'c':7})
s = pd.Series([3,5,7], index=['a','b','c'])
s = pd.Series([3,5,7])
s

0    3
1    5
2    7
dtype: int64

Input data to pd.Series is not copied by default. In the following scenario an update to Series `s` propogates to NumPy array `arr`:

In [ ]:
arr = np.array(range(3,7+1,2)) # NumPy array [3,7] with step=2
s = pd.Series(arr, copy=False) # default copy=False
s[1] = -1                      # set value s[1] to -1

Series, besides the ordered indices $0..(n-1)$, may also be viewed as a dictionary where values are accessed based on mapped indices to values:

In [ ]:
s = pd.Series({'a':3, 'b':5, 'c':7})
s[1] == s['b']

Operations between Series are carried out based on matching indices as opposed to element-wise:

In [ ]:
s1 = pd.Series({'a':3, 'b':5, 'c':2})
s2 = pd.Series({'b':3, 'a':5, 'c':2})
s1+s2

and they don't have to be the same size:

In [ ]:
s3 = pd.Series({'b':3, 'a':5, 'c':2, 'd':10}) # there is no matching 'd' in s1 therefore d=NaN
s1+s3

Index membership:

In [ ]:
"b" in s1 # s1 : {'a':3, 'b':5, 'c':2}

In contrast to NumPy arrays, and R vectors, being homogenous containers, Series may take up values of different types:

In [ ]:
s = pd.Series({'a':3, 'b':5, 'c':'7'})
s.dtype
[type(v) for v in s]

## Series methods and submodules

An exhaustive review of [Series' methods and submodules](https://pandas.pydata.org/docs/reference/series.html#) is beyond the scope of this course. Here we only review several common uses.

In [ ]:
s1 = pd.Series(['apple', 'watermelon', 'orange', 'pear', 'cherry', 'strawberry'],
               index=list("abcdef"))
s2 = pd.Series(['apple', 'kiwi', 'orange', 'pear', 'cherry', 'grape'],
               index=list("abcdef"))
s3 = pd.Series(np.log(np.arange(0.1,10,.1)), index=np.arange(0.1,10,.1))

s4 = np.array([""])

s1.unique()
s1.count()
s1.compare(s2)
s1.filter(['a','b'])
s3.plot();
s1.drop(['b','f'])
s3.apply(lambda x: np.abs(x))

## Timestamp

In [24]:
dates = pd.Series(['1-4-1988', '1-1-1987', '1-12-2011', '1-6-2005', '1-5-2005'])
tss = pd.to_datetime(dates,format="%d-%m-%Y")
# tss.min(), tss.max()
# tss.sort_values()
# tss[1].year
tss

0   1988-04-01
1   1987-01-01
2   2011-12-01
3   2005-06-01
4   2005-05-01
dtype: datetime64[ns]

# DataFrame

The pandas' DataFrame is a 2-dimensional structure which may be viewed as a collection of Series. It has indices for both dimensions. We will use the terms observations and variables for rows and columns interchangeably. DataFrame, and Series, can hold dimensions $>2$ with the so called `hierarchical indexing` which is beyond the scope of this course.

&#9888; We will be working with homogeneous Series in the context of DataFrames.

To create a DataFrame use the function pd.DataFrame:

**Synopsis: &nbsp; &nbsp;**<tt>DataFrame(data=None, index=None, columns=None, dtype=None, copy=None)</tt>

Most arguments are familiar from pd.Series except the additional *columns* with which the indices of the second dimension are controlled.

In [ ]:
df = pd.DataFrame(data=[[3,'a'], [5,'b'], [7,'c']],                    # list, tuple, or np.array
                  columns=['x', 'y'])                                  #
df = pd.DataFrame({'x': [3,5,7], 'y': ['a','b','c']})                  # dictionary of columns / can use dic.items()
df = pd.DataFrame({3:'a', 5:'b', 7: 'c'}.items(), columns= ['x','y'])  # dictionary of rows

## DataFrame : read/write

You may want to store or share with others the DataFrame you just created. The most common data format to store a DataFrame is comma-separated-values (csv) format. Use `to_csv` method to export a DataFrame and `pd.read_csv` import:

In [ ]:
df = pd.DataFrame({'x': rng.standard_normal(10), 'y': rng.standard_normal(10)})
df.to_csv("df.csv",index=False)   # write df to file 'df.csv', do not include index
df = pd.read_csv("df.csv")        # read df.csv into df object

## Inspect content

In [ ]:
df = pd.DataFrame({'x': rng.standard_normal(10), 'y': rng.standard_normal(10)}) # x and y two random variables

df.head()                   # top 5 (default) observation
df.tail(2)                  # last 2 observations
df.head(5).tail(2)          # composition
df.shape                    # size of the dimensions
df.size                     # total number of elements
df.columns                  # the columns indices/names
df.dtypes                   # listing of all columns' types
df.describe()               # descriptive summary of all variables

## Select columns

### Single column

You can select a column from a DataFrame using the square bracket `df["column_name"]` or `df.column_name`. When only one column name is given the result is a Series, with a list of columns the result is a DataFrame:

In [ ]:
df["x"]   # Series
df.x      # <=>  df["x"]
df[["x"]] # DataFrame

Only `valid python names` can be accessed through dot `.`:

In [ ]:
pd.DataFrame({'valid_name': [1,2,3], 'another variable':[3,2,1]  }).valid_name

### Multiple columns

Use a list of indices to select multiple columns:

In [ ]:
df[['Periods', 'TotalSupply_1']]  # explicit
df[df.columns[[1,2]]]             # use indices on df.columns

## Select rows

### Using logical criteria

Similar to NumPy logical masks we can filter out rows for which the logical condition succeeds. A condition on the variables of a DataFrame returns a logical value for each row in a format of a `Series` object:

In [7]:
df = pd.DataFrame({'x': rng.standard_normal(10), 'y': rng.standard_normal(10)}) # x and y two random variables
df[((df.x < 0) & (df.y > 0))]  # parentheses are required
df

          x         y
0  0.223717  0.509649
1 -0.447446  0.101695
2 -0.464626  0.854175
3 -0.096093  2.941185
4  0.877597  0.430239
5  0.629790  0.811382
6  0.604654 -0.926509
7 -0.701953  0.730740
8 -1.239491  0.333525
9  0.154013 -0.270494

### Using index : loc method

Rows in a Dataframe are by default indexed with $[0,n)$. The `DataFrame` method `loc` can be used in the following forms:

- `df.loc[<row-label>]`                : select a row by numeric index
- `df.loc[<row-label>,<column-label>]` : select the indexed entry

Both row-label and column-label may take values such as, a single label,  list/array of labels, slices, boolean arrays and series. Though these indexing schemes may look similar to NumPy, there are two cautionary remarks:

- The labels are not positional indices.
- The slices used with `.loc` are inclusive of start and stop, i.e. [0,k].

In [9]:
df.loc[1]               # [.] row 1 as a Series
df.loc[[1]]             # [[.]] row 1 as a DataFrame
df.loc[1,'x']           # [.,.] labels
df.loc[0:3, 'x':'y']    # [.,.] slices
df.loc[df.x > df.y,'x'] # [.,.] boolean

4    0.877597
6    0.604654
9    0.154013
Name: x, dtype: float64

**iloc:** Also take a look at the method `iloc` which is similar to `loc` except it only accepts positional integers or ranges for rows and columns indices.

## Update variables

DataFrame's columns can be updated with an assignment `=` with or without a row selection:

In [ ]:
df.x=range(df.shape[0])            # variable size and the size of the new values must match.
df.loc[(df.x % 2 ==0),'y'] = None  # set y values to NaN where x is an even value

Value update according to a selection should only be done using `.loc` (or `.iloc`) method. For example both selections below are equivalent but only the `.loc` version can be used in an assignment:

In [ ]:
s1 = df[0::2]['y']      # selection with composition (aka chained)
s2 = df.loc[0::2, 'y']  # selection with loc
s1.equals(s2)           # s1 == s2
df[0::2]['y'] = -2      # warning
df.loc[0::2, 'y'] = -2  # valid

## Merge Series and DataFrames

To combine DataFrames use the `pd.concat` function:

**Synopsis: &nbsp; &nbsp;**<tt>concat(objs, axis=0, ignore_index=False, copy=True)</tt>

In [ ]:
s1 = pd.Series(list("abcd"))          # ['a', 'b', 'c', 'd']
s2 = pd.Series(range(4))              # [0, 4)
pd.concat([s1,s2])                    # Series
pd.concat([s1,s2], ignore_index=True)  # Series
pd.concat([s1,s2], axis=1)            # DataFrame

In [ ]:
df1 = pd.DataFrame({'a':range(3), 'b':list("abc")})
df2 = pd.DataFrame({'c':range(5), 'b':list("abcde"[::-1])})
pd.concat([df1,df2], axis=0, join='outer')  # along axis 0
pd.concat([df1,df2], axis=1, join='outer')  # along axis 1

## Add row to DataFrame

For this we can use the `pd.concat` function:

In [ ]:
df = pd.DataFrame({'Year': [2021, 2021], 'Month': [11, 12],'Day': [9, 16]})
new_row =  pd.DataFrame({'Year': [2023], 'Month': [3],'Day': [20]})
pd.concat([df, new_row])

## Missing values

Recall the special values None and NaN from the lectures representing no value and not a number. They are of different types and have different properties. In the context of DataFrames we have the notion of missing values, and they can be represented by both.

NaN and None types:

In [ ]:
s = pd.Series(["0", float('nan'), np.nan,  2, None])
[type(v) for v in s]

### Handling missing data

Possible actions when dealing with missing data are  *summarise*, *remove* or *replace* missing values.

To be able to do any action on missing values you'll need to first find them. DataFrame and Series have the methods `isna` and `isnull` (alias to `isna`) for finding missing values. Both return a logical mask with `True` marking the location of the missing values. We will use `isna` throughout the lectures.

In [11]:
s.isna()      # isna: boolean marking missing value
s[s.notna()]  # <=> s[~ s.isna()]

0    3
1    5
2    7
dtype: int64

With `dropna` you may discard all missing from a Series object. With DataFrames you'll have more control in how to discard the missing

**Synopsis: &nbsp; &nbsp;**<tt>pandas.DataFrame.dropna(axis=0, how='any', thresh=None, inplace=False)</tt>

In [13]:
sample_space = np.arange(10).tolist() + ([np.nan]*2)
df = pd.DataFrame(rng.choice(sample_space,25).reshape(5,5))
df

     0    1    2    3    4
0  NaN  NaN  1.0  NaN  8.0
1  6.0  5.0  9.0  8.0  4.0
2  NaN  0.0  8.0  7.0  8.0
3  6.0  0.0  8.0  2.0  4.0
4  3.0  0.0  0.0  2.0  4.0

In [14]:
df.dropna(axis=0) # default : drop rows having any missing values
# df.dropna(axis=1) # drop columns having any missing values
# df.dropna(axis=1, how='all') # drop columns having only missing values

     0    1    2    3    4
1  6.0  5.0  9.0  8.0  4.0
3  6.0  0.0  8.0  2.0  4.0
4  3.0  0.0  0.0  2.0  4.0

With `fillna` we can replace the missing with values, either fixed or a set of values (Series,DataFrame etc.) according to the indices. We only illustrate scalars here:

In [ ]:
df.fillna(0)
df.fillna(df.mean(axis=0))

## Group operations

When the data has categorical variables we may be interested in descriptive statistics on each group. This can be done by first grouping the data with `groupby` method and then summarise on those groups. I'll use the [diamonds](https://ggplot2.tidyverse.org/reference/diamonds.html) dataset for illustration.

In [17]:
diamonds = pd.read_csv("data/diamonds.csv") # read diamonds.csv

In [19]:
grp = diamonds[diamonds.columns.drop(['color'])].groupby(['cut', 'clarity'], as_index=False) #
grp.indices
grp.ngroups
df = grp.mean()
df

,cut,clarity,carat,depth,table,price,x,y,z
0,Fair,I1,1.361000,65.699048,58.114286,3703.533333,6.723000,6.624238,4.386905
1,Fair,IF,0.474444,60.066667,59.111111,1912.333333,5.050000,5.050000,3.033333
2,Fair,SI1,0.964632,63.910294,59.126961,4208.279412,6.127230,6.071985,3.895711
3,Fair,SI2,1.203841,64.421888,58.828326,5173.916309,6.570343,6.503927,4.211867
4,Fair,VS1,0.879824,62.945294,60.365294,4165.141176,5.932353,5.864059,3.709882
5,Fair,VS2,0.885249,63.637548,59.050958,4174.724138,5.966590,5.907011,3.780230
6,Fair,VVS1,0.664706,60.417647,61.235294,3871.352941,5.503529,5.508824,3.327647
7,Fair,VVS2,0.691594,62.847826,59.237681,3349.768116,5.495507,5.464638,3.444058
8,Good,I1,1.203021,62.067708,59.497917,3596.635417,6.651562,6.614792,4.065625
9,Good,IF,0.616338,61.440845,59.056338,4098.323944,5.278310,5.315070,3.252958
10,Good,SI1,0.830397,62.696346,58.430962,3689.533333,5.799776,5.809974,3.635064
11,Good,SI2,1.035227,62.242831,58.924977,4580.260870,6.272414,6.276577,3.895245
12,Good,VS1,0.757685,62.018673,58.775772,3801.445988,5.636852,5.657176,3.499954
13,Good,VS2,0.850787,62.363292,58.664826,4262.236196,5.863262,5.878395,3.658231
14,Good,VVS1,0.502312,62.123118,58.922581,2254.774194,4.926290,4.950806,3.068602
15,Good,VVS2,0.614930,62.311538,58.672727,3079.108392,5.246154,5.269406,3.273497
16,Ideal,I1,1.222671,61.648630,56.102740,4335.726027,6.751712,6.736712,4.158493
17,Ideal,IF,0.455041,61.645710,55.707013,2272.913366,4.827261,4.850289,2.982211
18,Ideal,SI1,0.801808,61.737482,56.061023,3752.118169,5.781287,5.791226,3.570801
19,Ideal,SI2,1.007925,61.701001,56.120516,4755.952656,6.262621,6.268853,3.865889
20,Ideal,VS1,0.674714,61.706436,55.894037,3489.744497,5.449746,5.470635,3.366615
21,Ideal,VS2,0.670566,61.730901,55.931256,3284.550385,5.428111,5.434484,3.352102
22,Ideal,VVS1,0.495960,61.679091,55.839912,2468.129458,4.960596,4.978012,3.064304
23,Ideal,VVS2,0.586213,61.690714,55.915848,3250.290100,5.214693,5.231869,3.221550
24,Premium,I1,1.287024,61.183415,59.068293,3947.331707,6.842098,6.785902,4.130683
25,Premium,IF,0.603478,61.047826,58.730435,3856.143478,5.234957,5.220870,3.191478
26,Premium,SI1,0.908601,61.303329,58.758993,4455.269371,6.045410,6.009731,3.692162
27,Premium,SI2,1.144161,61.178976,58.779654,5545.936928,6.569495,6.543822,4.001967
28,Premium,VS1,0.793308,61.318451,58.690397,4485.462041,5.738049,5.710935,3.509703
29,Premium,VS2,0.833774,61.283408,58.754155,4550.331248,5.834665,5.806175,3.565639
30,Premium,VVS1,0.534821,61.260877,58.674513,2831.206169,5.037955,5.018847,3.080000
31,Premium,VVS2,0.654724,61.280230,58.654483,3795.122989,5.390920,5.367126,3.295920
32,Very Good,I1,1.281905,61.755952,59.372619,4078.226190,6.800119,6.796071,4.197381
33,Very Good,IF,0.618769,61.363806,57.455224,4396.216418,5.293097,5.334403,3.259813
34,Very Good,SI1,0.845978,61.947222,58.014907,3932.391049,5.869244,5.897009,3.643451
35,Very Good,SI2,1.064338,61.862952,58.251571,4988.688095,6.365814,6.391233,3.944495
36,Very Good,VS1,0.733307,61.729127,57.822197,3805.353239,5.575758,5.607448,3.467177
37,Very Good,VS2,0.811181,61.849247,57.958665,4215.759552,5.769097,5.799263,3.576144
38,Very Good,VVS1,0.494588,61.675919,57.622687,2459.441065,4.895513,4.927503,3.031420
39,Very Good,VVS2,0.566389,61.660972,57.712308,3037.765182,5.083004,5.115911,3.144348