# SQL other joins and subqueries (exercises)

## Preparation

For this section you need `chinook.db` database file and working `%sql` magic.  
If you don't have it, please go back to the [previous section](../09_sql/connect_to_database.ipynb) and follow the instructions.  
The following code should not produce any errors:

In [3]:
%load_ext sql
%sql sqlite:///chinook.db

Connecting to 'sqlite:///chinook.db'

## Exercise: difference between two sets

Based on the `artists` and `albums` tables:
- Construct a table with one column `ArtistId` containing only the artists who do not have any album.
- Use `EXPECT`.

In [2]:
%sql SELECT * FROM albums

Running query in 'sqlite:///chinook.db'

+---------+---------------------------------------+----------+
| AlbumId |                 Title                 | ArtistId |
+---------+---------------------------------------+----------+
|    1    | For Those About To Rock We Salute You |    1     |
|    2    |           Balls to the Wall           |    2     |
|    3    |           Restless and Wild           |    2     |
|    4    |           Let There Be Rock           |    1     |
|    5    |                Big Ones               |    3     |
|    6    |           Jagged Little Pill          |    4     |
|    7    |                Facelift               |    5     |
|    8    |             Warner 25 Anos            |    6     |
|    9    |     Plays Metallica By Four Cellos    |    7     |
|    10   |               Audioslave              |    8     |
+---------+---------------------------------------+----------+
Truncated to displaylimit of 10.

In [5]:
%%sql
    SELECT ArtistId FROM artists
EXCEPT
    SELECT DISTINCT ArtistId FROM albums
  LIMIT 10

Running query in 'sqlite:///chinook.db'

+----------+
| ArtistId |
+----------+
|    25    |
|    26    |
|    28    |
|    29    |
|    30    |
|    31    |
|    32    |
|    33    |
|    34    |
|    35    |
+----------+
Truncated to displaylimit of 10.

## Exercise: intersection of two sets

Based on the `customers` and `invoices` tables:
- Construct a table with one column `CustomerId` containing only the customers who had an invoice.
- Use `INTERSECT`.

In [6]:
%%sql
    SELECT DISTINCT CustomerId FROM customers
INTERSECT
    SELECT CustomerId FROM invoices
  LIMIT 5

Running query in 'sqlite:///chinook.db'

+------------+
| CustomerId |
+------------+
|     1      |
|     2      |
|     3      |
|     4      |
|     5      |
+------------+

## Exercise: subquery

Returns the customers whose sales representatives are in the `City` of `Calgary` .  
You can use `customers` and `employees` tables.

In [15]:
%sql SELECT * FROM employees WHERE City = "Calgary"
# %sql SELECT DISTINCT EmployeeID FROM employees
%sql SELECT * FROM employees

Running query in 'sqlite:///chinook.db'

Running query in 'sqlite:///chinook.db'

+------------+----------+-----------+---------------------+-----------+---------------------+---------------------+-----------------------------+------------+-------+---------+------------+-------------------+-------------------+--------------------------+
| EmployeeId | LastName | FirstName |        Title        | ReportsTo |      BirthDate      |       HireDate      |           Address           |    City    | State | Country | PostalCode |       Phone       |        Fax        |          Email           |
+------------+----------+-----------+---------------------+-----------+---------------------+---------------------+-----------------------------+------------+-------+---------+------------+-------------------+-------------------+--------------------------+
|     1      |  Adams   |   Andrew  |   General Manager   |    None   | 1962-02-18 00:00:00 | 2002-08-14 00:00:00 |     11120 Jasper Ave NW     |  Edmonton  |   AB  |  Canada |  T5K 2N1   | +1 (780) 428-9482 | +1 (780) 428-3457 |  andrew@chinookcorp.com  |
|     2      | Edwards  |   Nancy   |    Sales Manager    |     1     | 1958-12-08 00:00:00 | 2002-05-01 00:00:00 |         825 8 Ave SW        |  Calgary   |   AB  |  Canada |  T2P 2T3   | +1 (403) 262-3443 | +1 (403) 262-3322 |  nancy@chinookcorp.com   |
|     3      | Peacock  |    Jane   | Sales Support Agent |     2     | 1973-08-29 00:00:00 | 2002-04-01 00:00:00 |        1111 6 Ave SW        |  Calgary   |   AB  |  Canada |  T2P 5M5   | +1 (403) 262-3443 | +1 (403) 262-6712 |   jane@chinookcorp.com   |
|     4      |   Park   |  Margaret | Sales Support Agent |     2     | 1947-09-19 00:00:00 | 2003-05-03 00:00:00 |       683 10 Street SW      |  Toronto   |   NO  |  Canada |  M5P 2N7   | +1 (403) 263-4423 | +1 (403) 263-4289 | margaret@chinookcorp.com |
|     5      | Johnson  |   Steve   | Sales Support Agent |     2     | 1965-03-03 00:00:00 | 2003-10-17 00:00:00 |         7727B 41 Ave        |  Calgary   |   AB  |  Canada |  T3B 1Y7   |  1 (780) 836-9987 |  1 (780) 836-9543 |  steve@chinookcorp.com   |
|     6      | Mitchell |  Michael  |      IT Manager     |     1     | 1973-07-01 00:00:00 | 2003-10-17 00:00:00 |     5827 Bowness Road NW    |  Calgary   |   AB  |  Canada |  T3B 0C5   | +1 (403) 246-9887 | +1 (403) 246-9899 | michael@chinookcorp.com  |
|     7      |   King   |   Robert  |       IT Staff      |     6     | 1970-05-29 00:00:00 | 2004-01-02 00:00:00 | 590 Columbia Boulevard West | Lethbridge |   AB  |  Canada |  T1K 5N8   | +1 (403) 456-9986 | +1 (403) 456-8485 |  robert@chinookcorp.com  |
|     8      | Callahan |   Laura   |       IT Staff      |     6     | 1968-01-09 00:00:00 | 2004-03-04 00:00:00 |         923 7 ST NW         | Lethbridge |   AB  |  Canada |  T1H 1Y8   | +1 (403) 467-3351 | +1 (403) 467-8772 |  laura@chinookcorp.com   |
+------------+----------+-----------+---------------------+-----------+---------------------+---------------------+-----------------------------+------------+-------+---------+------------+-------------------+-------------------+--------------------------+

In [11]:
%sql SELECT * FROM customers
%sql SELECT DISTINCT SupportRepId FROM customers

Running query in 'sqlite:///chinook.db'

Running query in 'sqlite:///chinook.db'

+--------------+
| SupportRepId |
+--------------+
|      3       |
|      4       |
|      5       |
+--------------+

In [19]:
%%sql
SELECT *
  FROM customers
  WHERE SupportRepId IN (
    SELECT EmployeeId
    FROM employees
    WHERE City = 'Calgary'
  )

Running query in 'sqlite:///chinook.db'

+------------+-----------+-----------+--------------------------------------------------+--------------------------------------+---------------------+-------+----------------+------------+--------------------+--------------------+-------------------------------+--------------+
| CustomerId | FirstName |  LastName |                     Company                      |               Address                |         City        | State |    Country     | PostalCode |       Phone        |        Fax         |             Email             | SupportRepId |
+------------+-----------+-----------+--------------------------------------------------+--------------------------------------+---------------------+-------+----------------+------------+--------------------+--------------------+-------------------------------+--------------+
|     1      |    Luís   | Gonçalves | Embraer - Empresa Brasileira de Aeronáutica S.A. |   Av. Brigadeiro Faria Lima, 2170    | São José dos Campos |   SP  |     Brazil     | 12227-000  | +55 (12) 3923-5555 | +55 (12) 3923-5566 |      luisg@embraer.com.br     |      3       |
|     2      |   Leonie  |   Köhler  |                       None                       |       Theodor-Heuss-Straße 34        |      Stuttgart      |  None |    Germany     |   70174    |  +49 0711 2842222  |        None        |     leonekohler@surfeu.de     |      5       |
|     3      |  François |  Tremblay |                       None                       |          1498 rue Bélanger           |       Montréal      |   QC  |     Canada     |  H2G 1A7   | +1 (514) 721-4711  |        None        |      ftremblay@gmail.com      |      3       |
|     6      |   Helena  |    Holý   |                       None                       |            Rilská 3174/6             |        Prague       |  None | Czech Republic |   14300    |  +420 2 4177 0449  |        None        |        hholy@gmail.com        |      5       |
|     7      |   Astrid  |   Gruber  |                       None                       | Rotenturmstraße 4, 1010 Innere Stadt |        Vienne       |  None |    Austria     |    1010    |   +43 01 5134505   |        None        |     astrid.gruber@apple.at    |      5       |
|     11     | Alexandre |   Rocha   |               Banco do Brasil S.A.               |          Av. Paulista, 2022          |      São Paulo      |   SP  |     Brazil     | 01310-200  | +55 (11) 3055-3278 | +55 (11) 3055-8131 |        alero@uol.com.br       |      5       |
|     12     |  Roberto  |  Almeida  |                      Riotur                      |           Praça Pio X, 119           |    Rio de Janeiro   |   RJ  |     Brazil     | 20040-020  | +55 (21) 2271-7000 | +55 (21) 2271-7070 | roberto.almeida@riotur.gov.br |      3       |
|     14     |    Mark   |  Philips  |                      Telus                       |            8210 111 ST NW            |       Edmonton      |   AB  |     Canada     |  T6G 2C7   | +1 (780) 434-4554  | +1 (780) 434-5565  |       mphilips12@shaw.ca      |      5       |
|     15     |  Jennifer |  Peterson |                  Rogers Canada                   |         700 W Pender Street          |      Vancouver      |   BC  |     Canada     |  V6C 1G8   | +1 (604) 688-2255  | +1 (604) 688-8756  |      jenniferp@rogers.ca      |      3       |
|     17     |    Jack   |   Smith   |              Microsoft Corporation               |           1 Microsoft Way            |       Redmond       |   WA  |      USA       | 98052-8300 | +1 (425) 882-8080  | +1 (425) 882-8081  |    jacksmith@microsoft.com    |      5       |
+------------+-----------+-----------+--------------------------------------------------+--------------------------------------+---------------------+-------+----------------+------------+--------------------+--------------------+-------------------------------+--------------+
Truncated to displaylimit of 10.

In [18]:
%%sql
SELECT *
    FROM employees
    WHERE City = 'Calgary'

Running query in 'sqlite:///chinook.db'

+------------+----------+-----------+---------------------+-----------+---------------------+---------------------+----------------------+---------+-------+---------+------------+-------------------+-------------------+-------------------------+
| EmployeeId | LastName | FirstName |        Title        | ReportsTo |      BirthDate      |       HireDate      |       Address        |   City  | State | Country | PostalCode |       Phone       |        Fax        |          Email          |
+------------+----------+-----------+---------------------+-----------+---------------------+---------------------+----------------------+---------+-------+---------+------------+-------------------+-------------------+-------------------------+
|     2      | Edwards  |   Nancy   |    Sales Manager    |     1     | 1958-12-08 00:00:00 | 2002-05-01 00:00:00 |     825 8 Ave SW     | Calgary |   AB  |  Canada |  T2P 2T3   | +1 (403) 262-3443 | +1 (403) 262-3322 |  nancy@chinookcorp.com  |
|     3      | Peacock  |    Jane   | Sales Support Agent |     2     | 1973-08-29 00:00:00 | 2002-04-01 00:00:00 |    1111 6 Ave SW     | Calgary |   AB  |  Canada |  T2P 5M5   | +1 (403) 262-3443 | +1 (403) 262-6712 |   jane@chinookcorp.com  |
|     5      | Johnson  |   Steve   | Sales Support Agent |     2     | 1965-03-03 00:00:00 | 2003-10-17 00:00:00 |     7727B 41 Ave     | Calgary |   AB  |  Canada |  T3B 1Y7   |  1 (780) 836-9987 |  1 (780) 836-9543 |  steve@chinookcorp.com  |
|     6      | Mitchell |  Michael  |      IT Manager     |     1     | 1973-07-01 00:00:00 | 2003-10-17 00:00:00 | 5827 Bowness Road NW | Calgary |   AB  |  Canada |  T3B 0C5   | +1 (403) 246-9887 | +1 (403) 246-9899 | michael@chinookcorp.com |
+------------+----------+-----------+---------------------+-----------+---------------------+---------------------+----------------------+---------+-------+---------+------------+-------------------+-------------------+-------------------------+